body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: white;
}

header {
    background: #2e7d32;
    color: white;
    text-align: center;
    padding: 20px;
}

.logo {
    font-size: 60px;
}

button {
    width: 90%;
    margin: 10px 5%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #4caf50;
    color: white;
    font-size: 18px;
}

button:hover {
    background: #388e3c;
}

#map {
    height: 400px;
    margin: 10px;
    border-radius: 10px;
}

.caixa {
    background: white;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

h2 {
    color: #2e7d32;
}

#resultadoQuiz {
    margin-top: 15px;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #4caf50;
    font-weight: bold;
    text-align: center;
}

#quiz {
      display: none;
}

.opcoesQuiz {
    display: flex;
    gap: 10px;
}

.opcoesQuiz button {
    width: 50%;
    margin: 0;
}











