body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2fdf2;
}

header {
    background: #2e7d32;
    color: white;
    text-align: center;
    padding: 20px;
}

.logo {
    font-size: 60px;
}

button {
    width: 90%;
    margin: 10px 5%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #4caf50;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: #388e3c;
}

#map {
    height: 400px;
    margin: 10px;
    border-radius: 10px;
}

.caixa {
    background: white;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

h2 {
    color: #2e7d32;
}